
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!-- Page Add Section Begin -->
<section class="page-add px-3" >
    <div class="container" style="background-color: #fdedfa">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-breadcrumb">
                    <h2>Liên hệ<span>.</span></h2>
                    <a href="#">Trang chủ</a>

                    <a class="active" href="#" >Liên hệ</a>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->
<!-- Contact Section Begin -->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form action="#" class="contact-form" >
                    <div class="row" >
                        <div class="col-lg-6" >
                            <input type="text" placeholder="First Name" style="border: 3px solid ">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Last Name" style="border: 3px solid ">
                        </div>
                        <div class="col-lg-12">
                            <input type="email" placeholder="E-mail" style="border: 3px solid ">
                            <input type="text" placeholder="Subject" style="border: 3px solid ">
                            <textarea placeholder="Message" style="border: 3px solid "></textarea>
                        </div>
                        <div class="col-lg-12 text-right">
                            <button type="submit">Send message</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="contact-widget">
                    <div class="cw-item">
                        <h5>Location</h5>
                        <ul>
                            <li>Quận 1 </li>
                            <li>TP. HCM</li>
                        </ul>
                    </div>
                    <div class="cw-item">
                        <h5>Phone</h5>
                        <ul>
                            <li>+84 342240544</li>
                        </ul>
                    </div>
                    <div class="cw-item">
                        <h5>E-mail</h5>
                        <ul>
                            <li>nchitung03sn@gmail.com</li>
                            <li>www.TungQuan.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <div class="row">
                <div class="col-lg-12">
                    
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.517758056734!2d106.6991629152411!3d10.771600262227158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f40a3b49e59%3A0xa1bd14e483a602db!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEvhu7kgdGh14bqtdCBDYW8gVGjhuq9uZw!5e0!3m2!1svi!2s!4v1679994722058!5m2!1svi!2s" width="600" height="450" style="border:0; border:1px solid" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
