@{
    ViewBag.Title = "GetOTP";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="vh-100 bg-image pt-1"
         style="background-image: url(@Url.Content("~/Content/Webapp/img/slider-1.png"));">
    <div class="mask d-flex align-items-center h-75 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Quên Mật Khẩu</h2>

                            @if (string.IsNullOrEmpty(ViewBag.OTP))
                            {
                                <h6 style="color: red"> @ViewBag.Invalid</h6>
                                <form method="post" action="/Home/GetOTP">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-lg" id="recipientEmail" name="recipientEmail" required placeholder="Nhập Email">
                                    </div>
                                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Gửi</button>
                                </form>
                            }

                            @if (!string.IsNullOrEmpty(ViewBag.OTP))
                            {
                                <h5>Mã OTP Đã Được Gửi Vào Email Của Bạn. Xin Vui Lòng Nhập Mã OTP Tại Đây.</h5>
                                <form method="post" action="/Home/ExampleUsage">
                                    <div class="form-group">

                                        <input type="text" class="form-control form-control-lg" id="otp" name="otp" required>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Xác Minh OTP</button>
                                </form>
                            }
                            <div class="text-center mt-4 font-weight-light">
                                
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                <p>Bạn chưa có tài khoản? <a href="/Home/Register" class="text-primary">Đăng ký</a></p>
                                                       <p>Bạn đã có tài khoản? <a href="/Home/SignIn" class="text-primary">Đăng Nhập</a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>