@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<main class="main">

    <div class="error-content text-center" style="background-image: url(~/Content/assets/images/backgrounds/error-bg.jpg)">
        <div class="container">
            <h1 class="error-title">Lỗi</h1><!-- End .error-title -->
            <p>Chúng tôi xin lỗi, trang bạn vừa truy cập hiện không có sẵn.</p>
            <a href="/" class="btn btn-outline-primary-2 btn-minwidth-lg">
                <span>Về Trang Chủ</span>
                <i class="icon-long-arrow-right"></i>
            </a>
        </div><!-- End .container -->
    </div><!-- End .error-content text-center -->
</main><!-- End .main -->
</html>
